[submodule "dapp-styles"]
  path = interface/public/dapp-styles
  url = git://github.com/anysoft/dapp-styles.git
[submodule "meteor-dapp-wallet"]
  path = meteor-dapp-wallet
  url = https://github.com/anysoft/meteor-dapp-wallet.git
